.footer-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .clear {
    color: #000000;
    text-align: center;
    border: 3px solid #000000;
    box-sizing: border-box;
    width: 100px;
    font-size: 23px;

  }

  .save {
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    width: 100px;
    font-size: 23px;

  }
}
.top-header {
  display: flex;
  justify-content: space-between;
}

.filter {
  font-size: 34px;
  color: #000000;
  line-height: 37px;
  font-weight: bold;
  margin-bottom: 30px;
}

.pprice{
  color: #000000;
  font-size: 34px;
  font-weight: bold;
  width: 200px;
}
