.app-home-top {
  .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  .dog {
    margin-top: 20px;
    width: 100vw;
  }

  .photo {
    position: absolute;
    margin-top: -65px;
    height: 67px;
    background: #ffffff;
    width: 271.95px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    font-weight: bold;

  }

  .about-pet-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;

    .about {
      width: 690px;

      .a {
        font-size: 22px;
        font-weight: bold;
        line-height: 24px;
      }

      .pets {
        font-size: 22px;
        line-height: 24px;
        color: #656565;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .so {
        line-height: 150%;
        font-size: 18px;
        font-weight: normal;
        color: #656565;
        text-align: justify;

      }
    }

    .people {
      .buy {
        text-align: right;
        color: #000000;
        line-height: 24px;
        font-size: 22px;
        font-weight: bold;
      }

      .detail {
        text-align: right;
        line-height: 17px;
        font-size: 16px;
        color: #656565;
        margin-top: 9px;
      }

      .details {
        font-size: 22px;
        text-align: right;
        line-height: 24px;
        font-weight: bold;
        color: #000000;
        margin-top: 10px;
      }

      .images {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 27px;
      }
    }
  }

  .sam {
    font-weight: bold;
    font-size: 32px;
    line-height: 35px;
    font-style: normal;
  }

  .addCart-row {
    background-color: #000000;
    letter-spacing: 0.07em;
    color: #ffffff;
    width: 257px;
    text-align: center;
    vertical-align: middle;
    line-height: 50.02px;
    font-size: 23px;
  }
}

// header for mobile phones styling
@media (max-width: 575.98px) {
  .app-home-top {
    .top-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0;
    }

    hr{
      width: 414px;
      border: 4px solid #E4E4E4;
      margin-bottom: 32px;
    }

    img {
      margin-top: 20px;
     width: 100vw;
      height: 239px;
    }

    .photo {
      position: absolute;
      margin-top: -40px;
      font-weight: bold;
      font-size: 15px;
      height: 56.54px;
      background: #ffffff;
      width: 227px;
      line-height: 60px;
      text-align: center;
      color: #000000;
    }

    .about-pet-row {
      padding: 0 20px;

      align-items: center;
      margin-top: 42px;

      .about {
        width: 100vw;

        .a{
          font-size: 22px;
          font-weight: bold;
          line-height: 150%;
          color: #000000;
          text-align: center;
          width: 382px;

        }

        .pets {
         display: none;
        }

        .so {
          line-height: 27px;
          font-size: 18px;
          font-weight: normal;
          color: #656565;
          text-align: justify;
        }
      }

    }

    .people {
      .buy {
        text-align: left;
        color: #000000;
        line-height: 24px;
        font-size: 22px;
        font-weight: bold;
        margin: 20px 0;
        padding: 0 20px;
      }

      .detail {
        text-align: left;
        padding: 0 20px;
        line-height: 17px;
        font-size: 22px;
        color: #656565;
        margin-top: 9px;
      }

      .details {
        padding: 0 20px;
        font-size: 22px;
        text-align: left;
        line-height: 24px;
        font-weight: bold;
        color: #000000;
        margin-top: 40px;
      }

      .images {
        display: flex;
        justify-content: space-between;
        align-items: center;
       // width: 10vw;
        height: 122.58px;
        padding: 0 20px;
       // margin-top: 27px;
      }
    }

    .sam {
      font-weight: bold;
      font-size: 32px;
      line-height: 35px;
      font-style: normal;
      text-align: center;
    }

    .addCart {
      background-color: #000000;
      letter-spacing: 0.07em;
      color: #ffffff;
      text-align: center;
      line-height: 60.02px;
      font-size: 23px;
     // position: absolute;
      margin-top: 30px;
      height: 61px;
      max-width: 100vw;

    }
  }

}

//// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) {
//  .app-home-top {
//    .top-row {
//      display: flex;
//      align-items: center;
//      justify-content: space-between;
//      margin: 20px 0;
//    }
//
//    hr{
//      min-width: 90vw;
//      border: 4px solid #E4E4E4;
//      margin-bottom: 32px;
//    }
//
//    img {
//      margin-top: 20px;
//      min-width: 90vw;
//      height: 360px;
//    }
//
//    .photo {
//      position: absolute;
//      margin-top: -40px;
//      font-weight: bold;
//      font-size: 15px;
//      height: 56.54px;
//      background: #ffffff;
//      width: 227px;
//      line-height: 60px;
//      text-align: center;
//      color: #000000;
//    }
//
//    .about-pet-row {
//      padding: 0 20px;
//
//      align-items: center;
//      margin-top: 42px;
//
//      .about {
//        width: 100vw;
//
//        .a{
//          font-size: 32px;
//          font-weight: bold;
//          line-height: 150%;
//          color: #000000;
//          text-align: center;
//          width: auto;
//
//        }
//
//        .pets {
//          display: none;
//        }
//
//        .so {
//          line-height: 27px;
//          font-size: 18px;
//          font-weight: normal;
//          color: #656565;
//          text-align: justify;
//        }
//      }
//
//    }
//
//    .people {
//      .buy {
//        text-align: left;
//        color: #000000;
//        line-height: 24px;
//        font-size: 32px;
//        font-weight: bold;
//        margin: 20px 0;
//        padding: 0 20px;
//      }
//
//      .detail {
//        text-align: left;
//        padding: 0 20px;
//        line-height: 17px;
//        font-size: 32px;
//        color: #656565;
//        margin: 20px 0;
//      }
//
//      .details {
//        padding: 0 20px;
//        font-size: 32px;
//        text-align: left;
//        line-height: 24px;
//        font-weight: bold;
//        color: #000000;
//        margin: 30px 0;
//      }
//
//      .images {
//        display: flex;
//        justify-content: space-between;
//        align-items: center;
//        height: 122.58px;
//        padding: 0 20px;
//      }
//    }
//
//    .sam {
//      font-weight: bold;
//      font-size: 48px;
//      line-height: 35px;
//      font-style: normal;
//      text-align: center;
//    }
//
//    .addCart {
//      background-color: #000000;
//      letter-spacing: 0.07em;
//      color: #ffffff;
//      text-align: center;
//      line-height: 60.02px;
//      font-size: 23px;
//      // position: absolute;
//      margin-top: 30px;
//      height: 61px;
//      width: 90vw;
//
//    }
//  }
//
//}
