.app-home-top {
  margin: 0 68px;

  .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  .addCart-row {
    background-color: #000000;
    letter-spacing: 0.07em;
    width: 257px;
    text-align: center;
    font-size: 23px;
    cursor: pointer;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    color: #FFFFFF;
  }


  .photo {
    position: absolute;
    margin-top: -65px;
    height: 67px;
    background: #ffffff;
    width: 271.95px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    font-family: "Archivo", sans-serif;
    color: #000000;
    font-weight: 700;
  }

  .about-pet-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;

    .about {
      .ar {
        font-weight: bold;
        line-height: 24px;
        margin: 10px 0;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-size: 22px;
        color: #000000;
      }

      .pets-ar{
        line-height: 24px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-size: 22px;
        color: #656565;
      }

      .so {
        line-height: 150%;
        font-weight: normal;
        color: #656565;
        text-align: justify;
        width: 950px;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-size: 18px;
    //    margin-right: 100px;
      }
    }

    .side-people {
      .buy {
        text-align: right;
        color: #000000;
        line-height: 24px;
        font-size: 22px;
        font-weight: bold;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
      }

      .detail {
        text-align: right;
        line-height: 17px;
        font-size: 16px;
        color: #656565;
        margin-top: 9px;
      }

      .details {
        font-size: 22px;
        text-align: right;
        line-height: 24px;
        font-weight: bold;
        color: #000000;
        margin-top: 10px;
      }

      .images {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 27px;
      }
    }
  }

  .sam {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 35px;

    color: #000000;
  }

}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
  .app-home-top {
    margin: 0 14px;
    overflow: hidden;

    .add-mobile-cart{
      background-color: #000000;
      letter-spacing: 0.07em;
      color: #ffffff;
      margin-top: 30px;
      height: 61px;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      line-height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .top-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0;

      .addCart-row{
        display: none;
      }

      .dog {
        margin-top: 20px;
        width: 10vw;
        height: 239px;
      }
    }

    hr{
      width: 414px;
      border: 2px solid #E4E4E4;
      margin-bottom: 32px;
    }

    img {
      margin-top: 20px;
      width: 100vw;
      height: 239px;
      padding: 0 10px;
    }

    .photo {
      position: absolute;
      margin-top: -50px;
      font-weight: bold;
      width: 227px;
      height: 56.54px;
      background: #ffffff;
      color: #000000;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 15px;
      line-height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about-pet-row {
      align-items: center;
      margin-top: 2rem;

      .about {
        width: 100vw;
        padding: 0 10px;

        .ar{
          font-weight: bold;
          line-height: 150%;
          color: #000000;
          width: 100vw;
          text-align: center;
          font-family: 'Archivo', sans-serif;
          font-style: normal;
          font-size: 22px;
        }

        .pets-ar{
         display: none;
        }

        .so {
          font-weight: normal;
          color: #656565;
          text-align: justify;
          font-family: 'Archivo', sans-serif;
          font-style: normal;
          font-size: 18px;
          line-height: 150%;
          width: 362px;
          overflow: hidden;
        }
      }

      .people {
        display: none;
      }

    }

    .mobile-people{
      img{
        width: 120.57px;
        height: 122.58px;
      }

      .buy {
        text-align: left;
        color: #000000;
        font-weight: bold;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-size: 22px;
        line-height: 24px;
        margin: 20px 10px;
      }

      .detail {
        text-align: left;
        color: #656565;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
        margin: 14px 10px;
      }

      .details {
        text-align: left;
        font-weight: bold;
        color: #000000;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-size: 22px;
        line-height: 24px;
        margin: 0 10px;
      }

      .images {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .sam {
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 35px;
      color: #000000;
    }

    .addCart {
      display: none;
      background-color: #000000;
      letter-spacing: 0.07em;
      color: #ffffff;
      text-align: center;
      line-height: 3.7rem;
      font-size: 1.4rem;
     // position: absolute;
      margin-top: 1.8rem;
      height: 3.8rem;
      max-width: 100vw;
      cursor: pointer;

    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .app-home-top {
    .mobile-cart{
      display: none;
    }

    .add-mobile-cart{
      display: none;
    }

    .top-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0;
    }

    .dog {
      margin-top: 20px;
      width: 100vw;
    }

    .photo {
      position: absolute;
      margin-top: -65px;
      height: 67px;
      background: #ffffff;
      width: 271.95px;
      font-size: 20px;
      line-height: 60px;
      text-align: center;
      color: #000000;
      font-weight: bold;

    }

    .sam {
      font-weight: bold;
      font-size: 32px;
      line-height: 35px;
      font-style: normal;
    }

    .addCart-row {
      background-color: #000000;
      letter-spacing: 0.07em;
      color: #ffffff;
      width: 257px;
      line-height: 50.02px;
      font-size: 23px;
    }

    .about-pet-row {
      align-items: center;
      margin-top: 2rem;

      .about {
        width: 100vw;
        padding: 0 10px;

        .a{
          font-size: 2.5rem;
          font-weight: bold;
          line-height: 150%;
          color: #000000;
          width: 100vw;
          margin: 0 auto;
          text-align: center;

        }

        .pets {
          display: none;
        }

        .so {
          line-height: 3rem;
          font-size: 1.5rem;
          font-weight: normal;
          color: #656565;
          padding-right: 10px;
          text-align: justify;
        }
      }

      .people {
        display: none;
      }

    }

    .mobile-people{
      img{
        width: 25vw;
        height: 20vh;
      }
      .buy {
        text-align: left;
        color: #000000;
        line-height: 24px;
        font-size: 2rem;
        font-weight: bold;
        margin: 20px 10px;
      }

      .detail {
        text-align: left;
        line-height: 17px;
        font-size: 1.5rem;
        color: #656565;
        margin: 15px 10px;

      }

      .details {
        font-size: 2rem;
        text-align: left;
        line-height: 24px;
        font-weight: bold;
        color: #000000;
        margin: 20px 10px;
      }

      .images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 27px;
      }
    }

  }

}