.app-home-top {
  .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  .dog {
    margin-top: 20px;
    width: 100vw;
  }

  .photo {
    position: absolute;
    margin-top: -65px;
    height: 67px;
    background: #ffffff;
    width: 271.95px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    font-weight: bold;

  }

  .about-pet-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;

    .about {
      width: 50vw;

      .a {
        font-size: 22px;
        font-weight: bold;
        line-height: 24px;
      }

      .pets {
        font-size: 22px;
        line-height: 24px;
        color: #656565;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .so {
        line-height: 150%;
        font-size: 18px;
        font-weight: normal;
        color: #656565;
        text-align: justify;

      }
    }

    .people {
      .buy {
        text-align: right;
        color: #000000;
        line-height: 24px;
        font-size: 22px;
        font-weight: bold;
      }

      .detail {
        text-align: right;
        line-height: 17px;
        font-size: 16px;
        color: #656565;
        margin-top: 9px;
      }

      .details {
        font-size: 22px;
        text-align: right;
        line-height: 24px;
        font-weight: bold;
        color: #000000;
        margin-top: 10px;
      }

      .images {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 27px;
      }
    }
  }

  .sam {
    font-weight: bold;
    font-size: 32px;
    line-height: 35px;
    font-style: normal;
  }

  .addCart-row {
    background-color: #000000;
    letter-spacing: 0.07em;
    color: #ffffff;
    width: 257px;
    text-align: center;
    vertical-align: middle;
    line-height: 50.02px;
    font-size: 23px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
  .app-home-top {
    .mobile-cart{
      background-color: #000000;
      letter-spacing: 0.07em;
      color: #ffffff;
      text-align: center;
      vertical-align: middle;
      line-height: 50.02px;
      font-size: 23px;
      margin-top: 30px;
      margin-right: 10px;
      margin-left: 10px;

    }

    .top-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0;

      .addCart-row{
        display: none;
      }

      .dog {
        margin-top: 20px;
        width: 10vw;
        height: 239px;
      }
    }

    hr{
      width: 414px;
      border: 2px solid #E4E4E4;
      margin-bottom: 32px;
    }

    img {
      margin-top: 20px;
      width: 100vw;
      height: 239px;
      padding: 0 10px;
    }

    .photo {
      position: absolute;
      margin-top: -30px;
      font-weight: bold;
      font-size: 15px;
      height: 50px;
      background: #ffffff;
      width: 200px;
      line-height: 50px;
      text-align: center;
      color: #000000;
    }

    .about-pet-row {
      align-items: center;
      margin-top: 2rem;

      .about {
        width: 100vw;
        padding: 0 10px;

        .a{
          font-size: 22px;
          font-weight: bold;
          line-height: 150%;
          color: #000000;
          width: 100vw;
          margin: 0 auto;
          text-align: center;

        }

        .pets {
         display: none;
        }

        .so {
          line-height: 27px;
          font-size: 18px;
          font-weight: normal;
          color: #656565;
          text-align: justify;
        }
      }

      .people {
        display: none;
      }

    }

    .mobile-people{
      img{
        width: 100px;
        height: 122.58px;
      }
      .buy {
        text-align: left;
        color: #000000;
        line-height: 24px;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 20px 10px;
      }

      .detail {
        text-align: left;
        line-height: 17px;
        font-size: 0.8rem;
        color: #656565;
        margin: 15px 10px;

      }

      .details {
        font-size: 1rem;
        text-align: left;
        line-height: 24px;
        font-weight: bold;
        color: #000000;
        margin: 20px 10px;
      }

      .images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 27px;
      }
    }

    .sam {
      font-weight: bold;
      font-size: 1.7rem;
      margin: 0 10px;
      font-style: normal;
      text-align: center;
    }

    .addCart {
      display: none;
      background-color: #000000;
      letter-spacing: 0.07em;
      color: #ffffff;
      text-align: center;
      line-height: 60.02px;
      font-size: 23px;
     // position: absolute;
      margin-top: 30px;
      height: 61px;
      max-width: 100vw;

    }
  }

}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .app-home-top {

    .mobile-cart{
      display: none;
    }

    .top-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px;
    }

    .dog {
      margin-top: 20px;
      width: 100vw;
    }

    .photo {
      position: absolute;
      margin-top: -65px;
      height: 67px;
      background: #ffffff;
      width: 271.95px;
      font-size: 20px;
      line-height: 60px;
      text-align: center;
      color: #000000;
      font-weight: bold;

    }

    .about-pet-row {
      align-items: center;
      margin-top: 2rem;

      .about {
        width: 100vw;
        padding: 0 10px;

        .a{
          font-size: 22px;
          font-weight: bold;
          line-height: 150%;
          color: #000000;
          width: 100vw;
          margin: 0 auto;
          text-align: center;

        }

        .pets {
          display: none;
        }

        .so {
          line-height: 27px;
          font-size: 18px;
          font-weight: normal;
          color: #656565;
          text-align: justify;
        }
      }

      .people {
        display: none;
      }

    }

    .mobile-people{
      img{
        width: 10rem;
        height: 122.58px;
      }
      .buy {
        text-align: left;
        color: #000000;
        line-height: 24px;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 20px 10px;
      }

      .detail {
        text-align: left;
        line-height: 17px;
        font-size: 0.8rem;
        color: #656565;
        margin: 15px 10px;

      }

      .details {
        font-size: 1rem;
        text-align: left;
        line-height: 24px;
        font-weight: bold;
        color: #000000;
        margin: 20px 10px;
      }

      .images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 27px;
      }
    }
    .sam {
      font-weight: bold;
      font-size: 32px;
      line-height: 35px;
      font-style: normal;
    }

    .addCart-row {
      background-color: #000000;
      letter-spacing: 0.07em;
      color: #ffffff;
      width: 257px;
      text-align: center;
      vertical-align: middle;
      line-height: 50.02px;
      font-size: 23px;
    }
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

// Max
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
