.app-premium {
  overflow: hidden;
  margin-bottom: 3.25rem;

  .add-cart {
    position: relative;
    text-align: center;
    color: #ffffff;
    top: -1.1rem;
    background-color: #000000;
    width: 281.72px !important;
    height: 46px;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 25px;
    letter-spacing: 0.07em;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .title{
    color: #656565;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
  }

  .name{
    color: #000000;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 37px;
    width: 283px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .price{
    color: #656565;
    font-weight: normal;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-size: 29px;
    line-height: 32px;
  }

  .best-seller{
    position: absolute;
    background-color: #FFFFFF;
    width: 127.4px;
    height: 29.17px;
    top: 0;
    font-size: 20px;
    font-weight: normal;
    color: #000000;
    text-align: center;
  }

}

@media (max-width: 575.98px) {
  .app-premium {
    position: relative;
    overflow: hidden;
    margin-bottom: 3.25rem;

    .add-cart {
      position: relative;
      height: 47.98px;
      font-weight: 500;
      color: #ffffff;
      width: 362px !important;
      top: -1.1rem;
      background-color: #000000;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 23px;
      line-height: 25px;
      letter-spacing: 0.07em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title{
      color: #656565;
      font-weight: 700;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 22px;
      line-height: 24px;
    }

    .name{
      color: #000000;
      font-weight: bold;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 34px;
      line-height: 37px;
    }

    .price{
      color: #656565;
      font-weight: normal;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 29px;
      line-height: 32px;
    }

    .best-seller-mobile{
      position: absolute;
      width: 130px;
      height: 25px;
      top: -0.45px;
      bottom: 6.25rem;
      background: #FFFFFF;
      text-align: center;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 22px;
      color: #000000;
    }

  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .app-premium {
    position: relative;
    overflow: hidden;
    margin-bottom: 3.25rem;

    .add-cart {
      position: relative;
      height: 47.98px;
      font-weight: 500;
      color: #ffffff;
      width: 362px !important;
      top: -1.1rem;
      background-color: #000000;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 23px;
      line-height: 25px;
      letter-spacing: 0.07em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title{
      color: #656565;
      font-weight: 700;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 22px;
      line-height: 24px;
    }

    .name{
      color: #000000;
      font-weight: bold;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 34px;
      line-height: 37px;
    }

    .price{
      color: #656565;
      font-weight: normal;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 29px;
      line-height: 32px;
    }

    .best-seller-mobile{
      position: absolute;
      width: 130px;
      height: 25px;
      top: -0.45px;
      bottom: 6.25rem;
      background: #FFFFFF;
      text-align: center;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 22px;
      color: #000000;
    }

  }

}


