.app-premium {
  .add-cart {
    position: relative;
    width: 282px;
    height: 5vh;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 40px;
    color: #ffffff;
    top: -18px;
    background-color: #000000;
  }

  .title{
    color: #656565;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .subtitle{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;

  }

  .amount{
    color: #656565;
    font-size: 1.3rem;
    font-weight: normal;
  ;
  }
}
