.app-premium {
  overflow: hidden;
  margin-bottom: 3.25rem;
  .add-cart {
    position: relative;
    width: 18.75rem;
    height: 2.8rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.7rem;
    color: #ffffff;
    top: -1.1rem;
    background-color: #000000;
  }

  .title{
    color: #656565;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .name{
    color: #000000;
    font-size: 1.4rem;
    font-weight: 700;

  }

  .price{
    color: #656565;
    font-size: 1rem;
    font-weight: normal;
  }

  .best-seller{
    position: absolute;
    background-color: #FFFFFF;
    width: 127.4px;
    height: 29.17px;
    top: 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: #000000;
    text-align: center;
  }

}

@media (max-width: 575.98px) {
  .app-premium {
    position: relative;
    overflow: hidden;
    margin-bottom: 3.25rem;
    .add-cart {
      position: relative;
      width: 18.75rem;
      height: 2.8rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.75rem;
      color: #ffffff;
      top: -1.1rem;
      background-color: #000000;
    }

    .title{
      color: #656565;
      font-size: 1.2rem;
      font-weight: 700;
    }

    .name{
      color: #000000;
      font-size: 1.4rem;
      font-weight: 700;

    }

    .price{
      color: #656565;
      font-size: 1rem;
      font-weight: normal;
    }

    .best-seller-mobile{
      position: absolute;
      width: 10.2rem;
      height: 2.343rem;
      top: -0.1rem;
      bottom: 6.25rem;
      background: #FFFFFF;
      text-align: center;
      line-height: 2rem;
      font-size: 1.3rem;
    }

    .best-seller{
      position: relative;
      background-color: #FFFFFF;
      width: 127.4px;
      height: 29.17px;
      top: calc(25vh - 702px);
      font-size: 1.2rem;
      font-weight: normal;
      color: #000000;
      text-align: center;
    }

  }

}

