.app-home-body {
  .body-header {
    width: 90vw;
    margin: 68px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .photo {
      color: #000000;
      font-weight: bold;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 30px;
      line-height: 33px;
    }

    select {
      border: 0;
      outline: 0;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 24px;
      color: #000000;
      padding-right: 10px;
      margin-right: 30px;
    }

    .sort-by {
      color: #9b9b9b;
      font-weight: normal;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 22px;
      line-height: 24px;
    }

    .premium {
      position: absolute;
      font-weight: normal;
      color: #9b9b9b;
      padding-left: 10px;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 30px;
      line-height: 33px;
    }
  }
  .items{
    .category{
      color: #000000;
      font-weight: bold;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 22px;
      line-height: 24px;
      margin: 10px 0 10px 10px ;

    }

    .items-list{
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    .page-numbers{
      display: flex;
      justify-content: center;
      letter-spacing: 1rem;
      width: auto;
    }
  }
}

// mobile phones styling
@media (max-width: 575.98px) {
  .app-home-body {
    overflow: hidden;
    margin: 0 !important;

    .body-header {
      display: flex;
      justify-content: space-between !important;
      align-items: center !important;
      margin-bottom: 1.8rem;
      margin-top: 1rem;

      .photo {
        color: #000000;
        font-weight: bold;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-size: 18px !important;
        line-height: 20px ;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        color: #9b9b9b;
        padding-left: 0.6rem;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-size: 18px !important;
        line-height: 20px;
      }
    }

      .items-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .page-numbers{
          display: flex;
          justify-content: center;
          letter-spacing: 1rem;
          text-indent: 0.15in;
        }

      }

    }
  }

// Medium devices (tablets, 768px and up)
@media  (min-width: 768px) {
  .app-home-body {

    .body-header {
      margin-right: 14px;
      margin-left: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .photo {
        line-height: 20px;
        color: #000000;
        font-size: 32px;
        font-weight: bold;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        font-size: 32px;
        line-height: 20px;
        color: #9b9b9b;
        padding-left: 10px;
        font-family: 'Archivo', sans-serif;
      }
    }
    .seller{
      font-size: 32px;
      position: absolute;
      background-color: #ffffff;
      width: 163.7px;
      text-align: center;
      font-family: 'Archivo', sans-serif;
      left: 72px;
    }
    .items-list{
      display: flex;
      justify-content: space-evenly;
      padding-right: 10px;
      align-items: center;
      flex-wrap: wrap;
    }

    .page-numbers {
      color: #000000;
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      font-size: 29px;
      text-indent: 0.5in;
      width: 100vw;
    }
  }

}

@media (max-width: 768px) {
  .app-home-body {
    margin: 0 !important;
    width: 100%;

    .body-header {
      margin-right: 14px;
      margin-left: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .photo {
        line-height: 20px;
        color: #000000;
        font-size: 32px;
        font-weight: bold;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        font-size: 32px;
        line-height: 20px;
        color: #9b9b9b;
        padding-left: 10px;
      }
    }
    .seller{
      font-size: 32px;
      position: absolute;
      background-color: #ffffff;
      width: 163.7px;
      text-align: center;
      left: 72px;
    }
    .items-list{
      display: flex;
      justify-content: space-evenly;
      padding-right: 10px;
      align-items: center;
      flex-wrap: wrap;
    }

    .page-numbers {
      color: #000000;
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      font-size: 29px;
      text-indent: 0.5in;
    }
  }

}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .app-home-body {

    .body-header {

      .photo {
        color: #000000;
        font-weight: bold;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-size: 14px !important;
        line-height: 15px ;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        color: #9b9b9b;
        padding-left: 0.2rem;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-size: 14px !important;
        line-height: 25px;
      }
    }

  }
}


