.app-home-body {
  .body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
    margin-top: 3rem;

    .photo {
      line-height: 33px;
      color: #000000;
      font-size: 30px;
      font-weight: bold;
    }

    .sort-by {
      color: #9b9b9b;
      line-height: 24px;
      font-size: 22px;
      font-weight: normal;
    }

    .premium {
      position: absolute;
      font-weight: normal;
      font-size: 30px;
      line-height: 33px;
      color: #9b9b9b;
      padding-left: 10px;
    }
  }
  .items{
    .category{
      color: #000000;
      font-size: 22px;
      font-weight: bold;
      margin: 10px 0;
    }
    .seller{
      font-size: 20px;
      position: absolute;
      background-color: #ffffff;
      width: 127px;
      text-align: center;
      left: 20px;
    }

    .items-list{
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
  }
}

// mobile phones styling
@media (max-width: 575.98px) {
  .app-home-body {
    .body-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      margin-top: 1rem;

      .photo {
        line-height: 20px;
        color: #000000;
        font-size: 0.8rem;
        font-weight: bold;
        margin-left: 10px;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 20px;
        color: #9b9b9b;
        padding-left: 10px;
      }
    }
      .seller{
        font-size: 20px;
        position: absolute;
        background-color: #ffffff;
        width: 163.7px;
        text-align: center;
        left: 22px;
      }
      .items-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

      }
    }
  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .app-home-body {
    .body-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 43px;
      margin-top: 3rem;

      .photo {
        line-height: 33px;
        color: #000000;
        font-size: 30px;
        font-weight: bold;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        font-size: 30px;
        line-height: 33px;
        color: #9b9b9b;
        padding-left: 10px;
      }
    }
    .items-list{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
  }

}

@media (max-width: 1024px) {
  .app-home-body {
    .body-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      margin-top: 1rem;

      .photo {
        line-height: 20px;
        color: #000000;
        font-size: 1.8rem;
        font-weight: bold;
        margin-left: 10px;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 20px;
        color: #9b9b9b;
        padding-left: 10px;
      }
    }
    .seller{
      font-size: 20px;
      position: absolute;
      background-color: #ffffff;
      width: 163.7px;
      text-align: center;
      left: 22px;
    }
    .items-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (max-width: 360px) {
  .app-home-body {
    .body-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 43px;
      margin-top: 3rem;

      .photo {
        line-height: 33px;
        color: #000000;
        font-size: 1.2rem !important;
        font-weight: bold;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        font-size: 1.2rem !important;
        line-height: 33px;
        color: #9b9b9b;
        padding-left: 10px;
      }
    }
  }

}

@media (max-width: 384px) {
  .app-home-body {
    .body-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 43px;
      margin-top: 3rem;

      .photo {
        line-height: 33px;
        color: #000000;
        font-size: 1.2rem !important;
        font-weight: bold;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        font-size: 1.2rem !important;
        line-height: 33px;
        color: #9b9b9b;
        padding-left: 10px;
      }
    }
  }

}

@media (max-width: 412px) {
  .app-home-body {
    .body-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 43px;
      margin-top: 3rem;

      .photo {
        line-height: 33px;
        color: #000000;
        font-size: 1.2rem !important;
        font-weight: bold;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        font-size: 1.2rem !important;
        line-height: 33px;
        color: #9b9b9b;
        padding-left: 10px;
      }
    }
  }

}



