.app-home-body {
  margin: 0 68px;
  .body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.6rem;
    margin-top: 3rem;

    .photo {
      color: #000000;
      font-weight: bold;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 30px;
      line-height: 33px;
    }

    select {
      border: 0;
      outline: 0;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 24px;
      color: #000000;
      padding-right: 10px;
    }

    .sort-by {
      color: #9b9b9b;
      font-weight: normal;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 22px;
      line-height: 24px;
    }

    .premium {
      position: absolute;
      font-weight: normal;
      color: #9b9b9b;
      padding-left: 10px;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 30px;
      line-height: 33px;
    }
  }
  .items{
    .category{
      color: #000000;
      font-weight: bold;
      margin: 0.6rem 0;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-size: 22px;
      line-height: 24px;
    }

    .items-list{
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    .page-numbers{
      display: flex;
      justify-content: center;
      letter-spacing: 1rem;
    }

  }
}

// mobile phones styling
@media (max-width: 575.98px) {
  .app-home-body {
    overflow: hidden;
    margin: 0 14px;

    .body-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.8rem;
      margin-top: 1rem;

      .photo {
        color: #000000;
        font-weight: bold;
        margin-left: 0.6rem;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        color: #9b9b9b;
        padding-left: 0.6rem;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
      }
    }

      .items-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .page-numbers{
          display: flex;
          justify-content: center;
          letter-spacing: 1rem;
        }

      }

    }
  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .app-home-body {
    .body-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .photo {
        line-height: 20px;
        color: #000000;
        font-size: 32px;
        font-weight: bold;
      }

      .premium {
        position: absolute;
        font-weight: normal;
        font-size: 32px;
        line-height: 20px;
        color: #9b9b9b;
        padding-left: 10px;
      }
    }
    .seller{
      font-size: 32px;
      position: absolute;
      background-color: #ffffff;
      width: 163.7px;
      text-align: center;
      left: 72px;
    }
    .items-list{
      display: flex;
      justify-content: space-evenly;
      padding-right: 10px;
      align-items: center;
      flex-wrap: wrap;
    }

    .page-numbers {
      color: #000000;
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      font-size: 29px;
      text-indent: 0.5in;
    }
  }

}
