.app-entry{
  margin: 0 82px;
  max-width: 100vw;
  overflow: hidden;
}

// Max
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .app-entry{
    overflow: hidden;
    margin: 0 20px 0 0;
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) {
  .app-entry{
    overflow: hidden;
    margin: 0 10px;
  }
}